<!DOCTYPE html>
<html lang="en">
<head><title>404 Error</title>
<link rel="stylesheet" href="/public/css/styles.css"
</head>
<body>
    <div class="maincontent">
{{>header}}
    <h1>Erro Page Not Found</h1>
    
    </div>
    {{>footer}}

</body>
</html>